---
export const prerender = true;

import MainLayout from '@layouts/MainLayout.astro';
import Hero from './index/astro/Hero.astro';
import Home from './index/vue/Home.vue';
---

<MainLayout title="AICCRA Innovation Catalog">
  <Hero />
  <div class="mt-12">
    <Home client:load />
  </div>
</MainLayout>
