---
const { title } = Astro.props;
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import Footer from '~/components/shared/footer/Footer.component.astro';
import TopBar from '../components/TopBar.astro';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <TopBar />
    <slot />
    <Footer />
  </body>
</html>
