---
const currentYear = new Date().getFullYear();
import Tractor from '~/images/tractor.png';
---

<footer class="text-white relative mb-0">
  <div class="flex justify-center absolute -top-4 md:-top-10 w-full">
    <img src={Tractor.src} alt="Tractor" />
  </div>
  <div class="bg-primary-500 py-6">
    <div class="container mx-auto py-5 px-4 md:p-0 xl:px-16 2xl:px-20">
      <div class="grid grid-cols-[1fr_0.5fr_0.5fr] pb-10">
        <!-- Contact Information -->
        <div class="h-fit text-left text-sm">
          <strong class="text-medium">Contact</strong>
          <ul>
            <li class="opacity-70"><a class="hover:underline" href="mailto:MARLOSupport@cgiar.org">MARLOSupport@cgiar.org</a></li>
          </ul>
        </div>
        <!-- Legal Information -->
        <div class="h-fit text-left text-sm">
          <strong class="text-medium">Legal</strong>
          <ul>
            <li class="opacity-70">
              <a class="hover:underline" target="_blank" href="https://aiccra.marlo.cgiar.org/legalInformation.do#privacyNotice">Privacy Notice </a>
            </li>
            <li class="opacity-70">
              <a class="hover:underline" target="_blank" href="https://aiccra.marlo.cgiar.org/legalInformation.do#termsConditions"
                >Terms and Conditions</a
              >
            </li>
          </ul>
        </div>
        <!-- Glossary -->
        <div class="h-fit text-left text-sm">
          <strong class="text-medium">Others</strong>
          <ul>
            <li class="opacity-70">
              <a class="hover:underline" target="_blank" href="https://aiccra.marlo.cgiar.org/glossary.do">Glossary of relevant items </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Copyright -->
      <div class="text-xs copyRight">
        <hr class="mb-5" />
        <span>Copyright &#169; 2013-{currentYear} Alliance of Bioversity International and CIAT.</span><br />
        <div class="flex justify-between">
          <span class="opacity-70"
            >Developed by the Innovation and Business Development (IBD) team of the Technology Integration Unit.<span
              ><br />
              <span>Some rights reserved</span>
            </span>
          </span>
          <!-- MARLO Blog - Hidden for now 11/05/2025 -->
          <!--           <div class="flex items-center">
            <a
              href="https://cgiar-prms.notion.site/AICCRA-Knowledge-and-Data-Sharing-team-achievements-8742c91b3be14f05902f02224a63a2d9"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-4 rounded-lg bg-white px-5 shadow-[0_4px_6px_-1px_rgba(255,255,255,0.3)]">
              <span class="text-base text-primary-500">Check our blog</span>
              <i class="pi pi-external-link text-primary-500"></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</footer>
