---
import { Image } from 'astro:assets';
import Logo from '../images/logo_aiccra_minimize.svg';
import AiccraLogo from '../images/AICCRALogo.png';
---

<div class="pt-2 pb-3 px-2">
  <div class="flex items-left">
    <Logo width={'182px'} height={'75px'} class="mr-2" />
  </div>
</div>

<div class="h-[35px] bg-[#0277A2]"></div>
