---
import { Image } from 'astro:assets';
import AiccraLogo from '../images/AICCRALogo.png';
---

<div class="pt-2 pb-3 px-2">
  <Image format="png" src={AiccraLogo} height="75" alt="AICCRA Logo" />
</div>

<div class="h-[35px] bg-[#0277A2]"></div>
