---
import { Image } from 'astro:assets';
import AICCRALogo from '../images/AICCRALogo.png';
---

<div class="py-3">
  <Image format="png" quality="medium" src={AICCRALogo} height="80" alt="Image" />
</div>

<div class="h-[40px] bg-[#0277A2]"></div>
