---

interface Props {
    tag: string;
    icon?: string;
    isTiny?: boolean;
}

const { tag, icon, isTiny= false } = Astro.props;
---

<span 
    class="tag"
    class:list={[
        'capitalize border-1 rounded-full inline-flex items-center bg-bg-200 text-secondary-300 border-secondary-300 font-medium',
        {
            'text-xs gap-1 px-2 py-1': isTiny,
            'text-sm gap-1 px-3 py-1': !isTiny
        }
    ]}
>
    {icon && <i class={`${icon}`}></i>}
    <span class="tag-text">{tag} </span>
</span>