/* External Imports */
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Local Imports */
@import './colors.css';
@import './custom-icons.css';
/* Global Styles */

* {
  font-family: 'Montserrat', sans-serif;
}

/* Tooltip container - Hoverable text with dotted underline - Vanilla element */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

.tooltip.not-underline {
  border-bottom: none; /* No underline variant */
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
  top: 100%;
  left: 50%;
  margin-left: -65px;
}

/* Variant tooltiptet with more width and shorter text-size */
.tooltiptext.wide {
  width: 250px;
  max-width: 250px;
  padding: 4px;
  font-size: 0.75rem; /* 12px */
  word-break: break-word;
  overflow-wrap: break-word;
  margin-left: calc(250px / -2);
}

/* Show the tooltip text on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:focus .tooltiptext {
  visibility: visible;
}

.tooltiptext::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
